/* overwrite the bootstrap css */

 /* overwrites the default table styles of the Fair ML Package  */
.table__dark_template {
    color: white;
    font-family: monospace;
    font-size: 15px;
}
.table__dark_template tr:nth-child(even) {
  background-color: #717d8a;
}
.table__light_template {
    color: #222;
    font-family: monospace;
    font-size: 15px;
}
.table__light_template tr:nth-child(even) {
  background-color: #eeeeee;
}




/* Styles for the step progress bar */
.step-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* padding: 0 10px; /* Add padding to avoid the dots touching the container edges */
}

.step-container::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 15px; /* Adjust this value to match the left padding of the step-container */
  right: 15px; /* Adjust this value to match the right padding of the step-container */
  height: 2px;
  background-color: #ccc;
  z-index: -1;
}

.step {
  position: relative;
  text-align: center;
}

.step-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
}

.step-active {
  background-color: #4c9be8;
}

.step-label {
  margin-top: 5px;
}
.label-active {
  color: #4c9be8;
}


/*display larger font on the final scores*/
.progress .progress-bar {
    font-size: 20px!important;
}